.edit-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: $s-md;

    border-bottom: 1px solid gray;

    &__title{
        color: $primary;
        margin-bottom: $s-md;
    }

    &__avatar{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__input-photo{
        margin-block: $s-sm;
        padding: $s-sm;
    }

    &__form{
        width: 100%;
    }
    
    &__photo{
        margin-bottom: $s-md;
    }
    
    &__input{
        margin-bottom: $s-sm;
    }
    
    &__textarea{
        margin-bottom: $s-sm;
        resize: none;
    }

    &__count{
        color: gray;
        margin-bottom: $s-sm;
        text-align: right;
    }

    &__buttons{
        display: grid;
        grid-template-columns: 1fr;
        gap: $s-sm;

        @include tablet-screen{
            grid-template-columns: 1fr 1fr;
        }

        @include desktop-screen{
            grid-template-columns: 1fr 1fr;
        }
    }

}