.home-aside {
    display: none;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding-inline: $s-md;

    @include tablet-screen {
        display: flex;
        width: 30%;
    }

    @include desktop-screen {
        display: flex;
        width: 30%;
        padding-inline: $s-xlg;
    }
}

.home-main {
    width: 100%;

    @include tablet-screen {
        border-inline: 1px solid gray;
        width: 70%;
    }

    @include desktop-screen {
        border-inline: 1px solid gray;
        width: 50%;
    }
}

.home-compose {
    width: 100%;
}

.home-unauthenticated {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: $s-md auto;
    padding: $s-md;
    border: 2px dotted $primary;
}

.home-pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: $s-md;
    margin-bottom: $s-lg;
    color: $info;
    border-bottom:1px solid gray;
    cursor: pointer;
}