.navbar {
    width: 100%;
    background: lighten($primary, 10%);
    color: $white;
    margin: 0;
    padding: $s-sm;

    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        list-style: none;
        padding: $s-xs;
    }

    &__user-image {
        margin-left: $s-sm;
    }

    &__item {
        display: none;
        margin: $s-sm;
        font-size: $f-md;
        font-weight: bold;
        text-align: center;

        @include tablet-screen {
            display: none;
        }

        @include desktop-screen {
            display: none;
        }
    }

    &__brand {
        font-size: $f-md;
        margin-right: auto;
    }

    &__item--active {
        display: block;
        width: 100%;
        order: 2;
    }

    &__toggle {
        order: 1;

        @include tablet-screen {
            display: none;
        }

        @include desktop-screen {
            display: none;
        }
    }

    &__link {
        color: $white;
        text-decoration: none;
        font-weight: bold;
    }
}