.post {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: $s-sm;
  padding: $s-sm;
  width: 100%;

  border-bottom: 1px solid gray;

  &__user {
    font-weight: bold;
    text-decoration: underline;

    &:hover {
      cursor: pointer;
    }
  }

  &-content {
    margin-top: $s-sm;
  }

  &__description {
    resize: none;
  }

  &__song-input {
    margin-bottom: $s-sm;
  }

  &__music-card {
    margin-block: $s-sm;

    &>p {
      width: 95%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

  }

  &__actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include mobile-screen {
      font-size: $f-xs;
    }

    &--right {
      justify-content: end;
    }
  }

  &-action {
    display: flex;
    margin-right: $s-sm;
    align-items: center;
    padding: $s-xs;
    border-radius: $s-xs;
    font-weight: bold;

    &:hover {
      cursor: pointer;
      background-color: lighten(gray, 40%);
    }

    &__text {
      margin-left: $s-sm;

      @include mobile-screen {
        display: none;

        &--active {
          display: block;
        }
      }
    }

    &--delete {
      color: $danger;
    }

    &--save {
      color: $secondary;
    }

    &--like {
      color: $warning;
    }

    &--share {
      color: $info;
    }

    &--active {
      background-color: lighten($primary, 40%);

      &:hover {
        background-color: lighten($primary, 40%);
      }
    }
  }

  &--inactive {
    display: none;
  }

  &__char-count {
    text-align: right;
    width: 100%;
    margin: $s-sm 0;
  }
}