.post {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: $s-sm;
    width: 100%;
  
    border-bottom: 1px solid gray;
  
    &-content {
      margin: $s-xs;
    }

    &__description{
      resize: none;
    }

    &__song-input{
      margin-bottom: $s-sm;
    }
  
    &-actions {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &--right{
        justify-content: end;
      }
    }

    &--inactive{
      display: none;
    }

    &__char-count{
      text-align: right;
      width: 100%;
      margin: $s-sm 0;
  }
  }