//HTML tags only
h1 {
  font-size: $f-lg;
  text-align: center;
}

a {
  color: $info;
}

input {
  font-size: $f-sm;
  padding: $s-sm;
  width: 100%;
  border-radius: $s-sm;
  border: 2px solid lighten($primary, 30%);
}

header {
  position: sticky;
  top: 1;
  z-index: 10000;
  overflow: auto;
}

main {
  display: flex;
  justify-content: center;
}

textarea {
  font-size: $f-sm;
  padding: $s-sm;
  width: 100%;
  border-radius: $s-sm;
  border: 2px solid lighten($primary, 30%);
}