//HTML tags only
h1 {
  font-size: $f-lg;
  text-align: center;
}

a {
  color: $info;
}

input {
  font-size: $f-md;
  padding: $s-sm;
  width: 100%;
  border-radius: 8px;
  border: 2px solid lighten($primary, 30%);
}