.container{
    margin: $s-md;

    @include md-screen{
        padding: $s-md;
    }

    @include lg-screen{
        padding: $s-lg;
    }
}

.btn {
    padding: $s-sm;
    font-size: $f-md;
    color: $white;
    border: none;
    border-radius: $s-sm;
    font-size: $f-md;
    font-weight: bold;

    &-block{
      width: 100%;
    }

    @each $colorName in $base-colors {
      &-#{$colorName} {
        background: var(--#{$colorName});
      }
    }
  }