.container{
  display: flex;
  flex-direction: column;
}

.btn {
    padding: $s-sm;
    font-size: $f-md;
    color: $white;
    border: none;
    border-radius: $s-sm;
    font-size: $f-md;
    font-weight: bold;

    &-block{
      width: 100%;
    }

    @each $colorName in $base-colors {
      &-#{$colorName} {
        background: var(--#{$colorName});
      }
    }
  }

.post{
  display: grid;
  grid-template-columns: auto 1fr;
  padding: $s-sm;

  border-bottom: 1px solid gray;

  & > div:nth-child(2){
    margin-left: $s-sm;
  }

  & .content{
    margin-top: $s-xs;
  }

  & .actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}