//Colours, fonts, layouts, typography and anything that can be used within a style in a later file. 

//Colors
$primary: #d51212;
$secondary: #009022;
$info: #009A7C;
$warning: #FFAE03;
$white: #FFF5F0;
$danger: #FF515A;

$colors: ("primary": $primary,
    "secondary":$secondary,
    "info":$info,
    "white":$white,
);

$base-colors: ("primary", "secondary","white");

:root {
    @each $colorName,
    $colorValue in $colors {
        --#{$colorName}: #{$colorValue};
    }
}

// ---------- FONT
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');
$font: 'Inconsolata',monospace;

//sizes
$f-xs: 14px;
$f-sm: 16px;
$f-md: 20px;
$f-lg: 28px;
$f-xlg: 52px;

//Space
$s-xs: 4px;
$s-sm: 12px;
$s-md: 20px;
$s-lg: 28px;
$s-xlg: 52px;

//Breakpoint
$sm-screen: 600px;
$md-screen: 1024px;
$lg-screen: 1440px;